
body {
    background-color: #E4D6A7;
}

body, html {
    margin: 0;
    padding: 0;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    width: 100vw;
    height: 100vh;
    color: #426A5A;
}

.header-counter {
    width: 70px;
    height: 30px;
    text-align: center;
    text-justify: center;
    font-size: 25px;
    border-radius: 0px 0px 6px 6px;
    background-color: indianred;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.vocab-field {
    display: flex;
    height: 20%;
    padding-top: 60px;
    align-items: center;
}

.meanings-field {
    width: 60%;
    height: 15%;
    font-size: 20px;
    text-align: center;
    text-wrap: wrap;
}

.answer-area {
    display: grid;
    width: 366px;
    height: 20%;
    grid-template-columns: 50px 240px 50px;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.label-field {
    padding-top: 20px;
    font-size: 20px;
    align-items: center;
}

.vocab-input, .vocab-input-invalid {
    font-size: 20px;
    height: 40px;
    width: 240px;
    color: #E4D6A7;
    background-color: #3C2416;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    justify-self: center;
}

.foot-container {
    height: 10%;
}


.selection-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    gap: 10px;
}

select {
    width: 15%;
    height: 60%;
    color: #E4D6A7;
    background-color: #3C2416;
    border-radius: 5px;
    border: none;
    text-align: center;
}

/* input false animation */
@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}

.vocab-input-invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
}
